h1,h2,h3,h4{
  margin-bottom: 0;
}

.home{
  .ant-layout-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
      color: #ffffff;
    }
  }
}

.setting{
  width:600px;
  margin:0 auto;

  .header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items:center;

    h1{
      text-align: center;
      
    }
  }

  
  .setting-main{
    display: flex;
    justify-content: center;
  }
  

  .ant-menu-root{
    width: 200px;
  }

  .main-content{
    margin-left: 25px;
    flex:2;
  }

  .formkit-actions{
    display: none;
  }

  .version-file{
    .formkit-inner{
      display: block;
    }
  }
}

.ant-modal-body{
  .formkit-actions{
    display: none;
  }
}


.ant-modal-wrap.home-setting{
  .ant-modal-footer{
    .ant-btn:first-child{
      display: none;
    }
  }
}
